@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #e3eff5;
    background: #e3eff5 url('../img/background.png') no-repeat center center;
    font-family: 'Helvetica Neue Thin', 'Helvetica Neue', sans-serif;
    font-size: .9em;
}

/* NAVIGATION */

header {
    background-color: #06447f;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 1250px;
    height: 37px;
    margin: 0 auto;
}

nav > * {
    padding: 10px;
}

nav > a {
    color: #4eabda;
    text-decoration: none;
}

nav > a:hover {
    background-color: #4eabda;
}

nav > a:hover,
.name,
.hello,
.hello > a,
h1 {
    color: #fff;
}

.name {
    width: 130px;
    height: 11px;
    margin: 2px;
    background: url('../img/flag.png') 11px 4px no-repeat;
    border-left: 1px solid #4eabda;
    line-height: .7em;
    text-align: right;
}

.hello {
    margin-right: 20px;
    border-left: 1px solid #4eabda;
    border-right: 1px solid #4eabda;
    background-color: #4eabda;
    background: linear-gradient(#4eabda, #2e7ac4);
}

/* FORM */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

h1,
form {
    width: 565px;
    background-color: rgba(4, 6, 4, .63);
}

h1 {
    margin: 2px auto;
    padding: 19px;
    box-sizing: border-box;
    font-size: 1.6em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 665px;

}

form > *,
form label {
    color: #cccccc;
}

form > * {
    position: relative;
    width: 276px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.facebook {
    height: 35px;
    border: none;
    background: url('../img/facebook.png');
    cursor: pointer;
}

.divider {
    color: #999999;
    text-align: center;
}

.divider::before,
.divider::after {
    position: absolute;
    top: 17px;
    width: 120px;
    border-top: 1px solid #7a7979;
    box-shadow: 0 1px 0px 0px #000;
    content: '';
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

input {
    border: none;
    border-bottom: 1px solid #3f3e3e;
    background-color: #100f0f;
    font-family: "Helvetica Neue Thin", 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

input:focus {
    border: 1px solid #689bcc;
    background-color: #1b5288;
    background: linear-gradient(#1f4b76, #1b5288 40%);
    box-shadow: 0 0 20px 1px #4eabda;
}

input[type=checkbox]::before {
    content: url('../img/checkbox.png');
}

input[type=checkbox]:checked::before {
    display: none;
}

input[type=submit] {
    width: 160px;
    background: #3a8ecd linear-gradient(#4faddb, #2e7ac4);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-top-color: #67c6e6;
    border-bottom-color: #3686ca;
    border-left-color: #53a0db;
    border-right-color: #53a0db;
    color: #fff;
    cursor: pointer;
}

.note {
    width: 340px;
    margin-top: 0;
    font-size: .8em;
    text-align: center;
    line-height: 1.4em;
}
