@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #e3eff5 url('../img/background.png') no-repeat center center;
    font-family: 'Helvetica Neue Thin', 'Helvetica Neue', sans-serif;
    font-size: .9em;
}

/* NAVIGATION */

header {
    background-color: #06447f;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 37px;
    margin: 0 auto;
}

nav > * {
    padding: 10px;
}

nav > a {
    color: #4eabda;
    text-decoration: none;
}

nav > a:hover {
    background-color: #4eabda;
}

nav > a:hover,
.name,
.hello,
.hello > a,
h1,
.facebook {
    color: #fff;
}

.name {
    width: 125px;
    height: 11px;
    margin: 2px;
    border-left: 1px solid #4eabda;
    background: url('../img/sprite.png') 11px 4px no-repeat;
    line-height: .7em;
    text-align: right;
}

.hello {
    border-right: 1px solid #4eabda;
    border-left: 1px solid #4eabda;
    background: #4eabda linear-gradient(#4eabda, #2e7ac4);
}

/* FORM */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

h1,
form {
    width: 565px;
    background-color: rgba(4, 6, 4, .63);
}

h1 {
    margin: 2px auto;
    padding: 19px;
    font-size: 1.6em;
    text-align: center;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;

}

form > *,
form label {
    color: #ccc;
}

form > * {
    position: relative;
    width: 276px;
    margin: 8px;
    padding: 10px;
    box-sizing: border-box;
}

.facebook {
    position: relative;
    height: 35px;
    padding-left: 34px;
    border: 1px solid #7789bb;
    border-right: 0;
    border-left: 0;
    border-bottom-color: #2a3b63;
    border-radius: 3px;
    background: #3b5699 linear-gradient(#3b5699, #334164);
    font-size: 1em;
    line-height: 1em;
    cursor: pointer;
    overflow: hidden;
}

.facebook::before,
.facebook::after {
    position: absolute;
    content: url('../img/sprite.png');
}

.facebook::before {
    width: 32px;
    height: 95px;
    top: -43px;
    left: 15px;
    border-right: 1px solid #203b70;
    box-shadow: 1px 0 0 0 #4c68a9;
}

.facebook::after {
    width: 10px;
    height: 10px;
    top: -73px;
    left: 250px;
}

.login {
    font-weight: bold;
}

.divider {
    color: #999;
    text-align: center;
}

.divider::before,
.divider::after {
    position: absolute;
    top: 17px;
    width: 120px;
    border-top: 1px solid #7a7979;
    box-shadow: 0 1px 0 0 #000;
    content: '';
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

input {
    border: 1px solid #100f0f;
    border-bottom-color: #3e3f3e;
    background-color: #000;
    font-family: "Helvetica Neue Thin", 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

input:focus {
    border: 1px solid #689bcc;
    background: #1b5288 linear-gradient(#1f4b76, #1b5288 40%);
    box-shadow: 0 0 20px 1px #4eabda;
}

.custom-checkbox {
    position: relative;
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.custom-checkbox::before {
    position: absolute;
    top: -29px;
    left: 1px;
    content: url('../img/sprite.png');
}

.custom-checkbox:checked::before {
    display: none;
}

label,
.custom-submit {
    margin-top: 0;
}

.custom-submit {
    width: 160px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-top-color: #67c6e6;
    border-right-color: #53a0db;
    border-bottom-color: #3686ca;
    border-left-color: #53a0db;
    background: #3a8ecd linear-gradient(#4faddb, #2e7ac4);
    color: #fff;
    cursor: pointer;
}

.note {
    width: 340px;
    margin-top: 0;
    font-size: .8em;
    line-height: 1.4em;
    text-align: center;
}
